/*
HashiCorp Vault API

HTTP API that gives you full access to Vault. All API routes are prefixed with `/v1/`.

API version: 1.12.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vault

import (
	"context"
	"net/http"
	"net/url"
	"strings"
)

// Identity is a simple wrapper around the client for Identity requests
type Identity struct {
	client *Client
}

// DeleteIdentityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) DeleteIdentityAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityEntityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) DeleteIdentityEntityAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityEntityIdId Update, read or delete an entity using entity ID
// id: ID of the entity. If set, updates the corresponding existing entity.
func (a *Identity) DeleteIdentityEntityIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityEntityNameName Update, read or delete an entity using entity name
// name: Name of the entity
func (a *Identity) DeleteIdentityEntityNameName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityGroupAliasIdId
// id: ID of the group alias.
func (a *Identity) DeleteIdentityGroupAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityGroupIdId Update or delete an existing group using its ID.
// id: ID of the group. If set, updates the corresponding existing group.
func (a *Identity) DeleteIdentityGroupIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityGroupNameName
// name: Name of the group.
func (a *Identity) DeleteIdentityGroupNameName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityMfaLoginEnforcementName Delete a login enforcement
// name: Name for this login enforcement configuration
func (a *Identity) DeleteIdentityMfaLoginEnforcementName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/login-enforcement/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityMfaMethodDuoMethodId Delete a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) DeleteIdentityMfaMethodDuoMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/duo/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityMfaMethodOktaMethodId Delete a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) DeleteIdentityMfaMethodOktaMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/okta/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityMfaMethodPingidMethodId Delete a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) DeleteIdentityMfaMethodPingidMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/pingid/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityMfaMethodTotpMethodId Delete a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) DeleteIdentityMfaMethodTotpMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcAssignmentName
// name: Name of the assignment
func (a *Identity) DeleteIdentityOidcAssignmentName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/assignment/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcClientName
// name: Name of the client.
func (a *Identity) DeleteIdentityOidcClientName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/client/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcKeyName CRUD operations for OIDC keys.
// name: Name of the key
func (a *Identity) DeleteIdentityOidcKeyName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/key/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcProviderName
// name: Name of the provider
func (a *Identity) DeleteIdentityOidcProviderName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcRoleName CRUD operations on OIDC Roles
// name: Name of the role
func (a *Identity) DeleteIdentityOidcRoleName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/role/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityOidcScopeName
// name: Name of the scope
func (a *Identity) DeleteIdentityOidcScopeName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/scope/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// DeleteIdentityPersonaIdId Update, read or delete an alias ID.
// id: ID of the persona
func (a *Identity) DeleteIdentityPersonaIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/persona/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodDelete, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityAliasId List all the alias IDs.
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityAliasId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/alias/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) GetIdentityAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityAliasId List all the alias IDs.
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityEntityAliasId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity-alias/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) GetIdentityEntityAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityId List all the entity IDs
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityEntityId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityIdId Update, read or delete an entity using entity ID
// id: ID of the entity. If set, updates the corresponding existing entity.
func (a *Identity) GetIdentityEntityIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityName List all the entity names
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityEntityName(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/name"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityEntityNameName Update, read or delete an entity using entity name
// name: Name of the entity
func (a *Identity) GetIdentityEntityNameName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupAliasId List all the group alias IDs.
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityGroupAliasId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group-alias/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupAliasIdId
// id: ID of the group alias.
func (a *Identity) GetIdentityGroupAliasIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupId List all the group IDs.
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityGroupId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupIdId Update or delete an existing group using its ID.
// id: ID of the group. If set, updates the corresponding existing group.
func (a *Identity) GetIdentityGroupIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupName
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityGroupName(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/name"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityGroupNameName
// name: Name of the group.
func (a *Identity) GetIdentityGroupNameName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaLoginEnforcement List login enforcements
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaLoginEnforcement(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/login-enforcement"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaLoginEnforcementName Read the current login enforcement
// name: Name for this login enforcement configuration
func (a *Identity) GetIdentityMfaLoginEnforcementName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/login-enforcement/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethod List MFA method configurations for all MFA methods
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaMethod(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodDuo List MFA method configurations for the given MFA method
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaMethodDuo(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/duo"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodDuoMethodId Read the current configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) GetIdentityMfaMethodDuoMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/duo/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodMethodId Read the current configuration for the given ID regardless of the MFA method type
// methodId: The unique identifier for this MFA method.
func (a *Identity) GetIdentityMfaMethodMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodOkta List MFA method configurations for the given MFA method
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaMethodOkta(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/okta"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodOktaMethodId Read the current configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) GetIdentityMfaMethodOktaMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/okta/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodPingid List MFA method configurations for the given MFA method
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaMethodPingid(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/pingid"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodPingidMethodId Read the current configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) GetIdentityMfaMethodPingidMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/pingid/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodTotp List MFA method configurations for the given MFA method
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityMfaMethodTotp(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityMfaMethodTotpMethodId Read the current configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) GetIdentityMfaMethodTotpMethodId(ctx context.Context, methodId string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcAssignment
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcAssignment(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/assignment"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcAssignmentName
// name: Name of the assignment
func (a *Identity) GetIdentityOidcAssignmentName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/assignment/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcClient
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcClient(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/client"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcClientName
// name: Name of the client.
func (a *Identity) GetIdentityOidcClientName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/client/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcConfig OIDC configuration
func (a *Identity) GetIdentityOidcConfig(ctx context.Context) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/config"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcKey List OIDC keys
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcKey(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/key"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcKeyName CRUD operations for OIDC keys.
// name: Name of the key
func (a *Identity) GetIdentityOidcKeyName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/key/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProvider
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcProvider(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProviderName
// name: Name of the provider
func (a *Identity) GetIdentityOidcProviderName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProviderNameAuthorize
// name: Name of the provider
func (a *Identity) GetIdentityOidcProviderNameAuthorize(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/authorize"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProviderNameUserinfo
// name: Name of the provider
func (a *Identity) GetIdentityOidcProviderNameUserinfo(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/userinfo"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProviderNameWellKnownKeys
// name: Name of the provider
func (a *Identity) GetIdentityOidcProviderNameWellKnownKeys(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/.well-known/keys"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcProviderNameWellKnownOpenidConfiguration
// name: Name of the provider
func (a *Identity) GetIdentityOidcProviderNameWellKnownOpenidConfiguration(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/.well-known/openid-configuration"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcRole List configured OIDC roles
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcRole(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/role"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcRoleName CRUD operations on OIDC Roles
// name: Name of the role
func (a *Identity) GetIdentityOidcRoleName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/role/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcScope
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityOidcScope(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/scope"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcScopeName
// name: Name of the scope
func (a *Identity) GetIdentityOidcScopeName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/scope/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcTokenName Generate an OIDC token
// name: Name of the role
func (a *Identity) GetIdentityOidcTokenName(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/token/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcWellKnownKeys Retrieve public keys
func (a *Identity) GetIdentityOidcWellKnownKeys(ctx context.Context) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/.well-known/keys"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityOidcWellKnownOpenidConfiguration Query OIDC configurations
func (a *Identity) GetIdentityOidcWellKnownOpenidConfiguration(ctx context.Context) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/.well-known/openid-configuration"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityPersonaId List all the alias IDs.
// list: Must be set to &#x60;true&#x60;
func (a *Identity) GetIdentityPersonaId(ctx context.Context, list string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/persona/id"

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// GetIdentityPersonaIdId Update, read or delete an alias ID.
// id: ID of the persona
func (a *Identity) GetIdentityPersonaIdId(ctx context.Context, id string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/persona/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newRequest(ctx, http.MethodGet, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityAlias Create a new alias.
func (a *Identity) PostIdentityAlias(ctx context.Context, identityAliasRequest IdentityAliasRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/alias"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityAliasRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) PostIdentityAliasIdId(ctx context.Context, id string, identityAliasIdRequest IdentityAliasIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityAliasIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntity Create a new entity
func (a *Identity) PostIdentityEntity(ctx context.Context, identityEntityRequest IdentityEntityRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityAlias Create a new alias.
func (a *Identity) PostIdentityEntityAlias(ctx context.Context, identityEntityAliasRequest IdentityEntityAliasRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity-alias"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityAliasRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityAliasIdId Update, read or delete an alias ID.
// id: ID of the alias
func (a *Identity) PostIdentityEntityAliasIdId(ctx context.Context, id string, identityEntityAliasIdRequest IdentityEntityAliasIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityAliasIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityBatchDelete Delete all of the entities provided
func (a *Identity) PostIdentityEntityBatchDelete(ctx context.Context, identityEntityBatchDeleteRequest IdentityEntityBatchDeleteRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/batch-delete"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityBatchDeleteRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityIdId Update, read or delete an entity using entity ID
// id: ID of the entity. If set, updates the corresponding existing entity.
func (a *Identity) PostIdentityEntityIdId(ctx context.Context, id string, identityEntityIdRequest IdentityEntityIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityMerge Merge two or more entities together
func (a *Identity) PostIdentityEntityMerge(ctx context.Context, identityEntityMergeRequest IdentityEntityMergeRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/merge"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityMergeRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityEntityNameName Update, read or delete an entity using entity name
// name: Name of the entity
func (a *Identity) PostIdentityEntityNameName(ctx context.Context, name string, identityEntityNameRequest IdentityEntityNameRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/entity/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityEntityNameRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityGroup Create a new group.
func (a *Identity) PostIdentityGroup(ctx context.Context, identityGroupRequest IdentityGroupRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityGroupRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityGroupAlias Creates a new group alias, or updates an existing one.
func (a *Identity) PostIdentityGroupAlias(ctx context.Context, identityGroupAliasRequest IdentityGroupAliasRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group-alias"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityGroupAliasRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityGroupAliasIdId
// id: ID of the group alias.
func (a *Identity) PostIdentityGroupAliasIdId(ctx context.Context, id string, identityGroupAliasIdRequest IdentityGroupAliasIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group-alias/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityGroupAliasIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityGroupIdId Update or delete an existing group using its ID.
// id: ID of the group. If set, updates the corresponding existing group.
func (a *Identity) PostIdentityGroupIdId(ctx context.Context, id string, identityGroupIdRequest IdentityGroupIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityGroupIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityGroupNameName
// name: Name of the group.
func (a *Identity) PostIdentityGroupNameName(ctx context.Context, name string, identityGroupNameRequest IdentityGroupNameRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/group/name/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityGroupNameRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityLookupEntity Query entities based on various properties.
func (a *Identity) PostIdentityLookupEntity(ctx context.Context, identityLookupEntityRequest IdentityLookupEntityRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/lookup/entity"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityLookupEntityRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityLookupGroup Query groups based on various properties.
func (a *Identity) PostIdentityLookupGroup(ctx context.Context, identityLookupGroupRequest IdentityLookupGroupRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/lookup/group"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityLookupGroupRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaLoginEnforcementName Create or update a login enforcement
// name: Name for this login enforcement configuration
func (a *Identity) PostIdentityMfaLoginEnforcementName(ctx context.Context, name string, identityMfaLoginEnforcementRequest IdentityMfaLoginEnforcementRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/login-enforcement/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaLoginEnforcementRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodDuoMethodId Update or create a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) PostIdentityMfaMethodDuoMethodId(ctx context.Context, methodId string, identityMfaMethodDuoRequest IdentityMfaMethodDuoRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/duo/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodDuoRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodOktaMethodId Update or create a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) PostIdentityMfaMethodOktaMethodId(ctx context.Context, methodId string, identityMfaMethodOktaRequest IdentityMfaMethodOktaRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/okta/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodOktaRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodPingidMethodId Update or create a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) PostIdentityMfaMethodPingidMethodId(ctx context.Context, methodId string, identityMfaMethodPingidRequest IdentityMfaMethodPingidRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/pingid/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodPingidRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodTotpAdminDestroy Destroys a TOTP secret for the given MFA method ID on the given entity
func (a *Identity) PostIdentityMfaMethodTotpAdminDestroy(ctx context.Context, identityMfaMethodTotpAdminDestroyRequest IdentityMfaMethodTotpAdminDestroyRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/admin-destroy"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodTotpAdminDestroyRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodTotpAdminGenerate Update or create TOTP secret for the given method ID on the given entity.
func (a *Identity) PostIdentityMfaMethodTotpAdminGenerate(ctx context.Context, identityMfaMethodTotpAdminGenerateRequest IdentityMfaMethodTotpAdminGenerateRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/admin-generate"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodTotpAdminGenerateRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodTotpGenerate Update or create TOTP secret for the given method ID on the given entity.
func (a *Identity) PostIdentityMfaMethodTotpGenerate(ctx context.Context, identityMfaMethodTotpGenerateRequest IdentityMfaMethodTotpGenerateRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/generate"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodTotpGenerateRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityMfaMethodTotpMethodId Update or create a configuration for the given MFA method
// methodId: The unique identifier for this MFA method.
func (a *Identity) PostIdentityMfaMethodTotpMethodId(ctx context.Context, methodId string, identityMfaMethodTotpRequest IdentityMfaMethodTotpRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/mfa/method/totp/{method_id}"
	requestPath = strings.Replace(requestPath, "{"+"method_id"+"}", url.PathEscape(methodId), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityMfaMethodTotpRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcAssignmentName
// name: Name of the assignment
func (a *Identity) PostIdentityOidcAssignmentName(ctx context.Context, name string, identityOidcAssignmentRequest IdentityOidcAssignmentRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/assignment/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcAssignmentRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcClientName
// name: Name of the client.
func (a *Identity) PostIdentityOidcClientName(ctx context.Context, name string, identityOidcClientRequest IdentityOidcClientRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/client/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcClientRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcConfig OIDC configuration
func (a *Identity) PostIdentityOidcConfig(ctx context.Context, identityOidcConfigRequest IdentityOidcConfigRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/config"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcIntrospect Verify the authenticity of an OIDC token
func (a *Identity) PostIdentityOidcIntrospect(ctx context.Context, identityOidcIntrospectRequest IdentityOidcIntrospectRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/introspect"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcIntrospectRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcKeyName CRUD operations for OIDC keys.
// name: Name of the key
func (a *Identity) PostIdentityOidcKeyName(ctx context.Context, name string, identityOidcKeyRequest IdentityOidcKeyRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/key/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcKeyRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcKeyNameRotate Rotate a named OIDC key.
// name: Name of the key
func (a *Identity) PostIdentityOidcKeyNameRotate(ctx context.Context, name string, identityOidcKeyRotateRequest IdentityOidcKeyRotateRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/key/{name}/rotate"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcKeyRotateRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcProviderName
// name: Name of the provider
func (a *Identity) PostIdentityOidcProviderName(ctx context.Context, name string, identityOidcProviderRequest IdentityOidcProviderRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcProviderRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcProviderNameAuthorize
// name: Name of the provider
func (a *Identity) PostIdentityOidcProviderNameAuthorize(ctx context.Context, name string, identityOidcProviderAuthorizeRequest IdentityOidcProviderAuthorizeRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/authorize"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcProviderAuthorizeRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcProviderNameToken
// name: Name of the provider
func (a *Identity) PostIdentityOidcProviderNameToken(ctx context.Context, name string, identityOidcProviderTokenRequest IdentityOidcProviderTokenRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/token"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcProviderTokenRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcProviderNameUserinfo
// name: Name of the provider
func (a *Identity) PostIdentityOidcProviderNameUserinfo(ctx context.Context, name string) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/provider/{name}/userinfo"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newRequest(ctx, http.MethodPost, requestPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcRoleName CRUD operations on OIDC Roles
// name: Name of the role
func (a *Identity) PostIdentityOidcRoleName(ctx context.Context, name string, identityOidcRoleRequest IdentityOidcRoleRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/role/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcRoleRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityOidcScopeName
// name: Name of the scope
func (a *Identity) PostIdentityOidcScopeName(ctx context.Context, name string, identityOidcScopeRequest IdentityOidcScopeRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/oidc/scope/{name}"
	requestPath = strings.Replace(requestPath, "{"+"name"+"}", url.PathEscape(name), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityOidcScopeRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityPersona Create a new alias.
func (a *Identity) PostIdentityPersona(ctx context.Context, identityPersonaRequest IdentityPersonaRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/persona"

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityPersonaRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}

// PostIdentityPersonaIdId Update, read or delete an alias ID.
// id: ID of the persona
func (a *Identity) PostIdentityPersonaIdId(ctx context.Context, id string, identityPersonaIdRequest IdentityPersonaIdRequest) (*Response[map[string]interface{}], error) {
	requestPath := "/v1/identity/persona/id/{id}"
	requestPath = strings.Replace(requestPath, "{"+"id"+"}", url.PathEscape(id), -1)

	req, err := a.client.newStructuredRequest(ctx, http.MethodPost, requestPath, identityPersonaIdRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.do(ctx, req, true)
	if err != nil || resp == nil {
		return nil, err
	}
	defer resp.Body.Close()

	return parseResponse[map[string]interface{}](resp.Body)
}
