/*
HashiCorp Vault API

HTTP API that gives you full access to Vault. All API routes are prefixed with `/v1/`.

API version: 1.12.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vault

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Secrets is a simple wrapper around the client for Secrets requests
type Secrets struct {
	client *Client
}

// DeleteAdConfig Configure the AD server to connect to, along with password options.
func (a *Secrets) DeleteAdConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ad/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAdLibraryName Delete a library set.
// name: Name of the set.
func (a *Secrets) DeleteAdLibraryName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAdRolesName Manage roles to build links between Vault and Active Directory service accounts.
// name: Name of the role
func (a *Secrets) DeleteAdRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAlicloudConfig Configure the access key and secret to use for RAM and STS calls.
func (a *Secrets) DeleteAlicloudConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/alicloud/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAlicloudRoleName Read, write and reference policies and roles that API keys or STS credentials can be made for.
// name: The name of the role.
func (a *Secrets) DeleteAlicloudRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/alicloud/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAwsRolesName Read, write and reference IAM policies that access keys can be made for.
// name: Name of the policy
func (a *Secrets) DeleteAwsRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/aws/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAzureConfig
func (a *Secrets) DeleteAzureConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/azure/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteAzureRolesName Manage the Vault roles used to generate Azure credentials.
// name: Name of the role.
func (a *Secrets) DeleteAzureRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/azure/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteConsulRolesName
// name: Name of the role.
func (a *Secrets) DeleteConsulRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/consul/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteCubbyholePath Deletes the secret at the specified location.
// path: Specifies the path of the secret.
func (a *Secrets) DeleteCubbyholePath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/cubbyhole/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpRolesetName
// name: Required. Name of the role.
func (a *Secrets) DeleteGcpRolesetName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpStaticAccountName
// name: Required. Name to refer to this static account in Vault. Cannot be updated.
func (a *Secrets) DeleteGcpStaticAccountName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpkmsConfig Configure the GCP KMS secrets engine
func (a *Secrets) DeleteGcpkmsConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpkmsKeysDeregisterKey Deregister an existing key in Vault
// key: Name of the key to deregister in Vault. If the key exists in Google Cloud KMS, it will be left untouched.
func (a *Secrets) DeleteGcpkmsKeysDeregisterKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys/deregister/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpkmsKeysKey Interact with crypto keys in Vault and Google Cloud KMS
// key: Name of the key in Vault.
func (a *Secrets) DeleteGcpkmsKeysKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteGcpkmsKeysTrimKey Delete old crypto key versions from Google Cloud KMS
// key: Name of the key in Vault.
func (a *Secrets) DeleteGcpkmsKeysTrimKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys/trim/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteKubernetesConfig
func (a *Secrets) DeleteKubernetesConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/kubernetes/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteKubernetesRolesName
// name: Name of the role
func (a *Secrets) DeleteKubernetesRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/kubernetes/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteKvPath Pass-through secret storage to the storage backend, allowing you to read/write arbitrary data into secret storage.
// path: Location of the secret.
func (a *Secrets) DeleteKvPath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/kv/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteMongodbatlasRolesName Manage the roles used to generate MongoDB Atlas Programmatic API Keys.
// name: Name of the Roles
func (a *Secrets) DeleteMongodbatlasRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/mongodbatlas/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteNomadConfigAccess
func (a *Secrets) DeleteNomadConfigAccess(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/nomad/config/access"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteNomadConfigLease Configure the lease parameters for generated tokens
func (a *Secrets) DeleteNomadConfigLease(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/nomad/config/lease"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteNomadRoleName
// name: Name of the role
func (a *Secrets) DeleteNomadRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/nomad/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteOpenldapConfig
func (a *Secrets) DeleteOpenldapConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/openldap/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteOpenldapRoleName
// name: Name of the role (lowercase)
func (a *Secrets) DeleteOpenldapRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteOpenldapStaticRoleName
// name: Name of the role
func (a *Secrets) DeleteOpenldapStaticRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/static-role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeletePkiIssuerRefDerPem
// issuerRef: Reference to a existing issuer; either \&quot;default\&quot; for the configured default issuer, an identifier or the name assigned to the issuer.
func (a *Secrets) DeletePkiIssuerRefDerPem(ctx context.Context, issuerRef string) (*http.Response, error) {
	localVarPath := "/v1/pki/{issuer_ref}/der|/pem"
	localVarPath = strings.Replace(localVarPath, "{"+"issuer_ref"+"}", url.PathEscape(parameterToString(issuerRef, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeletePkiJson
func (a *Secrets) DeletePkiJson(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki//json"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeletePkiKeyKeyRef
// keyRef: Reference to key; either \&quot;default\&quot; for the configured default key, an identifier of a key, or the name assigned to the key.
func (a *Secrets) DeletePkiKeyKeyRef(ctx context.Context, keyRef string) (*http.Response, error) {
	localVarPath := "/v1/pki/key/{key_ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"key_ref"+"}", url.PathEscape(parameterToString(keyRef, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeletePkiRolesName
// name: Name of the role
func (a *Secrets) DeletePkiRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/pki/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeletePkiRoot
func (a *Secrets) DeletePkiRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/root"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteRabbitmqRolesName Manage the roles that can be created with this backend.
// name: Name of the role.
func (a *Secrets) DeleteRabbitmqRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/rabbitmq/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSecretDataPath Write, Patch, Read, and Delete data in the Key-Value Store.
// path: Location of the secret.
func (a *Secrets) DeleteSecretDataPath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/secret/data/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSecretMetadataPath Configures settings for the KV store
// path: Location of the secret.
func (a *Secrets) DeleteSecretMetadataPath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/secret/metadata/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSshConfigCa Set the SSH private key used for signing certificates.
func (a *Secrets) DeleteSshConfigCa(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ssh/config/ca"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSshConfigZeroaddress Assign zero address as default CIDR block for select roles.
func (a *Secrets) DeleteSshConfigZeroaddress(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ssh/config/zeroaddress"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSshKeysKeyName Register a shared private key with Vault.
// keyName: [Required] Name of the key
func (a *Secrets) DeleteSshKeysKeyName(ctx context.Context, keyName string) (*http.Response, error) {
	localVarPath := "/v1/ssh/keys/{key_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"key_name"+"}", url.PathEscape(parameterToString(keyName, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteSshRolesRole Manage the 'roles' that can be created with this backend.
// role: [Required for all types] Name of the role being created.
func (a *Secrets) DeleteSshRolesRole(ctx context.Context, role string) (*http.Response, error) {
	localVarPath := "/v1/ssh/roles/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterToString(role, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteTerraformConfig
func (a *Secrets) DeleteTerraformConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/terraform/config"

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteTerraformRoleName
// name: Name of the role
func (a *Secrets) DeleteTerraformRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/terraform/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteTotpKeysName Manage the keys that can be created with this backend.
// name: Name of the key.
func (a *Secrets) DeleteTotpKeysName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/totp/keys/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// DeleteTransitKeysName Managed named encryption keys
// name: Name of the key
func (a *Secrets) DeleteTransitKeysName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/transit/keys/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodDelete, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdConfig Configure the AD server to connect to, along with password options.
func (a *Secrets) GetAdConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ad/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdCredsName
// name: Name of the role
func (a *Secrets) GetAdCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdLibrary
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetAdLibrary(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/ad/library"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdLibraryName Read a library set.
// name: Name of the set.
func (a *Secrets) GetAdLibraryName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdLibraryNameStatus Check the status of the service accounts in a library set.
// name: Name of the set.
func (a *Secrets) GetAdLibraryNameStatus(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdRoles List the name of each role currently stored.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetAdRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/ad/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdRolesName Manage roles to build links between Vault and Active Directory service accounts.
// name: Name of the role
func (a *Secrets) GetAdRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAdRotateRoot
func (a *Secrets) GetAdRotateRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ad/rotate-root"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAlicloudConfig Configure the access key and secret to use for RAM and STS calls.
func (a *Secrets) GetAlicloudConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/alicloud/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAlicloudCredsName Generate an API key or STS credential using the given role's configuration.'
// name: The name of the role.
func (a *Secrets) GetAlicloudCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/alicloud/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAlicloudRole List the existing roles in this backend.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetAlicloudRole(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/alicloud/role"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAlicloudRoleName Read, write and reference policies and roles that API keys or STS credentials can be made for.
// name: The name of the role.
func (a *Secrets) GetAlicloudRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/alicloud/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsConfigLease Configure the default lease information for generated credentials.
func (a *Secrets) GetAwsConfigLease(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/aws/config/lease"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsConfigRoot Configure the root credentials that are used to manage IAM.
func (a *Secrets) GetAwsConfigRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/aws/config/root"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsCreds Generate AWS credentials from a specific Vault role.
func (a *Secrets) GetAwsCreds(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/aws/creds"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsRoles List the existing roles in this backend
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetAwsRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/aws/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsRolesName Read, write and reference IAM policies that access keys can be made for.
// name: Name of the policy
func (a *Secrets) GetAwsRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/aws/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAwsStsName Generate AWS credentials from a specific Vault role.
// name: Name of the role
func (a *Secrets) GetAwsStsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/aws/sts/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAzureConfig
func (a *Secrets) GetAzureConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/azure/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAzureCredsRole
// role: Name of the Vault role
func (a *Secrets) GetAzureCredsRole(ctx context.Context, role string) (*http.Response, error) {
	localVarPath := "/v1/azure/creds/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterToString(role, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAzureRoles List existing roles.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetAzureRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/azure/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetAzureRolesName Manage the Vault roles used to generate Azure credentials.
// name: Name of the role.
func (a *Secrets) GetAzureRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/azure/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetConsulConfigAccess
func (a *Secrets) GetConsulConfigAccess(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/consul/config/access"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetConsulCredsRole
// role: Name of the role.
func (a *Secrets) GetConsulCredsRole(ctx context.Context, role string) (*http.Response, error) {
	localVarPath := "/v1/consul/creds/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterToString(role, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetConsulRoles
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetConsulRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/consul/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetConsulRolesName
// name: Name of the role.
func (a *Secrets) GetConsulRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/consul/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetCubbyholePath Retrieve the secret at the specified location.
// path: Specifies the path of the secret.
// list: Return a list if &#x60;true&#x60;
func (a *Secrets) GetCubbyholePath(ctx context.Context, path string, list string) (*http.Response, error) {
	localVarPath := "/v1/cubbyhole/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpConfig
func (a *Secrets) GetGcpConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/gcp/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpKeyRoleset
// roleset: Required. Name of the role set.
func (a *Secrets) GetGcpKeyRoleset(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/key/{roleset}"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpRolesetName
// name: Required. Name of the role.
func (a *Secrets) GetGcpRolesetName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpRolesetRolesetKey
// roleset: Required. Name of the role set.
func (a *Secrets) GetGcpRolesetRolesetKey(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{roleset}/key"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpRolesetRolesetToken
// roleset: Required. Name of the role set.
func (a *Secrets) GetGcpRolesetRolesetToken(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{roleset}/token"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpRolesets
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetGcpRolesets(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/gcp/rolesets"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpStaticAccountName
// name: Required. Name to refer to this static account in Vault. Cannot be updated.
func (a *Secrets) GetGcpStaticAccountName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpStaticAccountNameKey
// name: Required. Name of the static account.
func (a *Secrets) GetGcpStaticAccountNameKey(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}/key"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpStaticAccountNameToken
// name: Required. Name of the static account.
func (a *Secrets) GetGcpStaticAccountNameToken(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}/token"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpStaticAccounts
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetGcpStaticAccounts(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-accounts"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpTokenRoleset
// roleset: Required. Name of the role set.
func (a *Secrets) GetGcpTokenRoleset(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/token/{roleset}"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpkmsConfig Configure the GCP KMS secrets engine
func (a *Secrets) GetGcpkmsConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpkmsKeys List named keys
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetGcpkmsKeys(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpkmsKeysConfigKey Configure the key in Vault
// key: Name of the key in Vault.
func (a *Secrets) GetGcpkmsKeysConfigKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys/config/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpkmsKeysKey Interact with crypto keys in Vault and Google Cloud KMS
// key: Name of the key in Vault.
func (a *Secrets) GetGcpkmsKeysKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/keys/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetGcpkmsPubkeyKey Retrieve the public key associated with the named key
// key: Name of the key for which to get the public key. This key must already exist in Vault and Google Cloud KMS.
func (a *Secrets) GetGcpkmsPubkeyKey(ctx context.Context, key string) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/pubkey/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterToString(key, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetKubernetesConfig
func (a *Secrets) GetKubernetesConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/kubernetes/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetKubernetesRoles
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetKubernetesRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/kubernetes/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetKubernetesRolesName
// name: Name of the role
func (a *Secrets) GetKubernetesRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/kubernetes/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetKvPath Pass-through secret storage to the storage backend, allowing you to read/write arbitrary data into secret storage.
// path: Location of the secret.
// list: Return a list if &#x60;true&#x60;
func (a *Secrets) GetKvPath(ctx context.Context, path string, list string) (*http.Response, error) {
	localVarPath := "/v1/kv/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetMongodbatlasConfig Configure the  credentials that are used to manage Database Users.
func (a *Secrets) GetMongodbatlasConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/mongodbatlas/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetMongodbatlasCredsName Generate MongoDB Atlas Programmatic API from a specific Vault role.
// name: Name of the role
func (a *Secrets) GetMongodbatlasCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/mongodbatlas/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetMongodbatlasRoles List the existing roles in this backend
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetMongodbatlasRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/mongodbatlas/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetMongodbatlasRolesName Manage the roles used to generate MongoDB Atlas Programmatic API Keys.
// name: Name of the Roles
func (a *Secrets) GetMongodbatlasRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/mongodbatlas/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetNomadConfigAccess
func (a *Secrets) GetNomadConfigAccess(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/nomad/config/access"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetNomadConfigLease Configure the lease parameters for generated tokens
func (a *Secrets) GetNomadConfigLease(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/nomad/config/lease"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetNomadCredsName
// name: Name of the role
func (a *Secrets) GetNomadCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/nomad/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetNomadRole
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetNomadRole(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/nomad/role"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetNomadRoleName
// name: Name of the role
func (a *Secrets) GetNomadRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/nomad/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapConfig
func (a *Secrets) GetOpenldapConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/openldap/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapCredsName
// name: Name of the dynamic role.
func (a *Secrets) GetOpenldapCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapRole
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetOpenldapRole(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/openldap/role"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapRoleName
// name: Name of the role (lowercase)
func (a *Secrets) GetOpenldapRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapStaticCredName
// name: Name of the static role.
func (a *Secrets) GetOpenldapStaticCredName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/static-cred/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapStaticRole
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetOpenldapStaticRole(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/openldap/static-role"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetOpenldapStaticRoleName
// name: Name of the role
func (a *Secrets) GetOpenldapStaticRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/openldap/static-role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCa
func (a *Secrets) GetPkiCa(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/ca"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCaChain
func (a *Secrets) GetPkiCaChain(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/ca_chain"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCaPem
func (a *Secrets) GetPkiCaPem(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/ca/pem"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCertCaChain
func (a *Secrets) GetPkiCertCaChain(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/cert/ca_chain"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCertCrl
func (a *Secrets) GetPkiCertCrl(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/cert/crl"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCertSerial
// serial: Certificate serial number, in colon- or hyphen-separated octal
func (a *Secrets) GetPkiCertSerial(ctx context.Context, serial string) (*http.Response, error) {
	localVarPath := "/v1/pki/cert/{serial}"
	localVarPath = strings.Replace(localVarPath, "{"+"serial"+"}", url.PathEscape(parameterToString(serial, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCertSerialRaw
// serial: Certificate serial number, in colon- or hyphen-separated octal
func (a *Secrets) GetPkiCertSerialRaw(ctx context.Context, serial string) (*http.Response, error) {
	localVarPath := "/v1/pki/cert/{serial}/raw"
	localVarPath = strings.Replace(localVarPath, "{"+"serial"+"}", url.PathEscape(parameterToString(serial, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCertSerialRawPem
// serial: Certificate serial number, in colon- or hyphen-separated octal
func (a *Secrets) GetPkiCertSerialRawPem(ctx context.Context, serial string) (*http.Response, error) {
	localVarPath := "/v1/pki/cert/{serial}/raw/pem"
	localVarPath = strings.Replace(localVarPath, "{"+"serial"+"}", url.PathEscape(parameterToString(serial, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCerts
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetPkiCerts(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/pki/certs"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiConfigCrl
func (a *Secrets) GetPkiConfigCrl(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/config/crl"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiConfigIssuers
func (a *Secrets) GetPkiConfigIssuers(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/config/issuers"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiConfigKeys
func (a *Secrets) GetPkiConfigKeys(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/config/keys"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiConfigUrls
func (a *Secrets) GetPkiConfigUrls(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/config/urls"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCrl
func (a *Secrets) GetPkiCrl(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/crl"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCrlPem
func (a *Secrets) GetPkiCrlPem(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/crl/pem"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiCrlRotate
func (a *Secrets) GetPkiCrlRotate(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/crl/rotate"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiDer
func (a *Secrets) GetPkiDer(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki//der"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiIssuerRefCrlPem
// issuerRef: Reference to a existing issuer; either \&quot;default\&quot; for the configured default issuer, an identifier or the name assigned to the issuer.
func (a *Secrets) GetPkiIssuerRefCrlPem(ctx context.Context, issuerRef string) (*http.Response, error) {
	localVarPath := "/v1/pki/{issuer_ref}/crl/pem"
	localVarPath = strings.Replace(localVarPath, "{"+"issuer_ref"+"}", url.PathEscape(parameterToString(issuerRef, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiIssuerRefDerPem
// issuerRef: Reference to a existing issuer; either \&quot;default\&quot; for the configured default issuer, an identifier or the name assigned to the issuer.
func (a *Secrets) GetPkiIssuerRefDerPem(ctx context.Context, issuerRef string) (*http.Response, error) {
	localVarPath := "/v1/pki/{issuer_ref}/der|/pem"
	localVarPath = strings.Replace(localVarPath, "{"+"issuer_ref"+"}", url.PathEscape(parameterToString(issuerRef, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiIssuers
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetPkiIssuers(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/pki/issuers"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiJson
func (a *Secrets) GetPkiJson(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki//json"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiKeyKeyRef
// keyRef: Reference to key; either \&quot;default\&quot; for the configured default key, an identifier of a key, or the name assigned to the key.
func (a *Secrets) GetPkiKeyKeyRef(ctx context.Context, keyRef string) (*http.Response, error) {
	localVarPath := "/v1/pki/key/{key_ref}"
	localVarPath = strings.Replace(localVarPath, "{"+"key_ref"+"}", url.PathEscape(parameterToString(keyRef, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiKeys
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetPkiKeys(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/pki/keys"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiRoles
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetPkiRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/pki/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiRolesName
// name: Name of the role
func (a *Secrets) GetPkiRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/pki/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetPkiTidyStatus
func (a *Secrets) GetPkiTidyStatus(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/pki/tidy-status"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetRabbitmqConfigLease Configure the lease parameters for generated credentials
func (a *Secrets) GetRabbitmqConfigLease(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/rabbitmq/config/lease"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetRabbitmqCredsName Request RabbitMQ credentials for a certain role.
// name: Name of the role.
func (a *Secrets) GetRabbitmqCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/rabbitmq/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetRabbitmqRoles Manage the roles that can be created with this backend.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetRabbitmqRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/rabbitmq/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetRabbitmqRolesName Manage the roles that can be created with this backend.
// name: Name of the role.
func (a *Secrets) GetRabbitmqRolesName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/rabbitmq/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSecretConfig Read the backend level settings.
func (a *Secrets) GetSecretConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/secret/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSecretDataPath Write, Patch, Read, and Delete data in the Key-Value Store.
// path: Location of the secret.
func (a *Secrets) GetSecretDataPath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/secret/data/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSecretMetadataPath Configures settings for the KV store
// path: Location of the secret.
// list: Return a list if &#x60;true&#x60;
func (a *Secrets) GetSecretMetadataPath(ctx context.Context, path string, list string) (*http.Response, error) {
	localVarPath := "/v1/secret/metadata/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSecretSubkeysPath Read the structure of a secret entry from the Key-Value store with the values removed.
// path: Location of the secret.
func (a *Secrets) GetSecretSubkeysPath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/secret/subkeys/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSshConfigCa Set the SSH private key used for signing certificates.
func (a *Secrets) GetSshConfigCa(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ssh/config/ca"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSshConfigZeroaddress Assign zero address as default CIDR block for select roles.
func (a *Secrets) GetSshConfigZeroaddress(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ssh/config/zeroaddress"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSshPublicKey Retrieve the public key.
func (a *Secrets) GetSshPublicKey(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ssh/public_key"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSshRoles Manage the 'roles' that can be created with this backend.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetSshRoles(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/ssh/roles"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetSshRolesRole Manage the 'roles' that can be created with this backend.
// role: [Required for all types] Name of the role being created.
func (a *Secrets) GetSshRolesRole(ctx context.Context, role string) (*http.Response, error) {
	localVarPath := "/v1/ssh/roles/{role}"
	localVarPath = strings.Replace(localVarPath, "{"+"role"+"}", url.PathEscape(parameterToString(role, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTerraformConfig
func (a *Secrets) GetTerraformConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/terraform/config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTerraformCredsName Generate a Terraform Cloud or Enterprise API token from a specific Vault role.
// name: Name of the role
func (a *Secrets) GetTerraformCredsName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/terraform/creds/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTerraformRole
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetTerraformRole(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/terraform/role"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTerraformRoleName
// name: Name of the role
func (a *Secrets) GetTerraformRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/terraform/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTotpCodeName Request time-based one-time use password or validate a password for a certain key .
// name: Name of the key.
func (a *Secrets) GetTotpCodeName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/totp/code/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTotpKeys Manage the keys that can be created with this backend.
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetTotpKeys(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/totp/keys"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTotpKeysName Manage the keys that can be created with this backend.
// name: Name of the key.
func (a *Secrets) GetTotpKeysName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/totp/keys/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitBackupName Backup the named key
// name: Name of the key
func (a *Secrets) GetTransitBackupName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/transit/backup/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitCacheConfig Returns the size of the active cache
func (a *Secrets) GetTransitCacheConfig(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/transit/cache-config"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitExportTypeName Export named encryption or signing key
// name: Name of the key
// type_: Type of key to export (encryption-key, signing-key, hmac-key)
func (a *Secrets) GetTransitExportTypeName(ctx context.Context, name string, type_ string) (*http.Response, error) {
	localVarPath := "/v1/transit/export/{type}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterToString(type_, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitExportTypeNameVersion Export named encryption or signing key
// name: Name of the key
// type_: Type of key to export (encryption-key, signing-key, hmac-key)
// version: Version of the key
func (a *Secrets) GetTransitExportTypeNameVersion(ctx context.Context, name string, type_ string, version string) (*http.Response, error) {
	localVarPath := "/v1/transit/export/{type}/{name}/{version}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterToString(type_, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterToString(version, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitKeys Managed named encryption keys
// list: Must be set to &#x60;true&#x60;
func (a *Secrets) GetTransitKeys(ctx context.Context, list string) (*http.Response, error) {
	localVarPath := "/v1/transit/keys"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitKeysName Managed named encryption keys
// name: Name of the key
func (a *Secrets) GetTransitKeysName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/transit/keys/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// GetTransitWrappingKey Returns the public key to use for wrapping imported keys
func (a *Secrets) GetTransitWrappingKey(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/transit/wrapping_key"

	req, err := a.client.NewRequest(http.MethodGet, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdConfig Configure the AD server to connect to, along with password options.
func (a *Secrets) PostAdConfig(ctx context.Context, adConfigRequest AdConfigRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/config"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdLibraryManageNameCheckIn Check service accounts in to the library.
// name: Name of the set.
func (a *Secrets) PostAdLibraryManageNameCheckIn(ctx context.Context, name string, adLibraryManageCheckInRequest AdLibraryManageCheckInRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/library/manage/{name}/check-in"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adLibraryManageCheckInRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdLibraryName Update a library set.
// name: Name of the set.
func (a *Secrets) PostAdLibraryName(ctx context.Context, name string, adLibraryRequest AdLibraryRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adLibraryRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdLibraryNameCheckIn Check service accounts in to the library.
// name: Name of the set.
func (a *Secrets) PostAdLibraryNameCheckIn(ctx context.Context, name string, adLibraryCheckInRequest AdLibraryCheckInRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}/check-in"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adLibraryCheckInRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdLibraryNameCheckOut Check a service account out from the library.
// name: Name of the set
func (a *Secrets) PostAdLibraryNameCheckOut(ctx context.Context, name string, adLibraryCheckOutRequest AdLibraryCheckOutRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/library/{name}/check-out"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adLibraryCheckOutRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdRolesName Manage roles to build links between Vault and Active Directory service accounts.
// name: Name of the role
func (a *Secrets) PostAdRolesName(ctx context.Context, name string, adRolesRequest AdRolesRequest) (*http.Response, error) {
	localVarPath := "/v1/ad/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, adRolesRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdRotateRoleName
// name: Name of the static role
func (a *Secrets) PostAdRotateRoleName(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/ad/rotate-role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAdRotateRoot
func (a *Secrets) PostAdRotateRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/ad/rotate-root"

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAlicloudConfig Configure the access key and secret to use for RAM and STS calls.
func (a *Secrets) PostAlicloudConfig(ctx context.Context, alicloudConfigRequest AlicloudConfigRequest) (*http.Response, error) {
	localVarPath := "/v1/alicloud/config"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, alicloudConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAlicloudRoleName Read, write and reference policies and roles that API keys or STS credentials can be made for.
// name: The name of the role.
func (a *Secrets) PostAlicloudRoleName(ctx context.Context, name string, alicloudRoleRequest AlicloudRoleRequest) (*http.Response, error) {
	localVarPath := "/v1/alicloud/role/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, alicloudRoleRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsConfigLease Configure the default lease information for generated credentials.
func (a *Secrets) PostAwsConfigLease(ctx context.Context, awsConfigLeaseRequest AwsConfigLeaseRequest) (*http.Response, error) {
	localVarPath := "/v1/aws/config/lease"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, awsConfigLeaseRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsConfigRoot Configure the root credentials that are used to manage IAM.
func (a *Secrets) PostAwsConfigRoot(ctx context.Context, awsConfigRootRequest AwsConfigRootRequest) (*http.Response, error) {
	localVarPath := "/v1/aws/config/root"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, awsConfigRootRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsConfigRotateRoot
func (a *Secrets) PostAwsConfigRotateRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/aws/config/rotate-root"

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsCreds Generate AWS credentials from a specific Vault role.
func (a *Secrets) PostAwsCreds(ctx context.Context, awsCredsRequest AwsCredsRequest) (*http.Response, error) {
	localVarPath := "/v1/aws/creds"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, awsCredsRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsRolesName Read, write and reference IAM policies that access keys can be made for.
// name: Name of the policy
func (a *Secrets) PostAwsRolesName(ctx context.Context, name string, awsRolesRequest AwsRolesRequest) (*http.Response, error) {
	localVarPath := "/v1/aws/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, awsRolesRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAwsStsName Generate AWS credentials from a specific Vault role.
// name: Name of the role
func (a *Secrets) PostAwsStsName(ctx context.Context, name string, awsStsRequest AwsStsRequest) (*http.Response, error) {
	localVarPath := "/v1/aws/sts/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, awsStsRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAzureConfig
func (a *Secrets) PostAzureConfig(ctx context.Context, azureConfigRequest AzureConfigRequest) (*http.Response, error) {
	localVarPath := "/v1/azure/config"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, azureConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAzureRolesName Manage the Vault roles used to generate Azure credentials.
// name: Name of the role.
func (a *Secrets) PostAzureRolesName(ctx context.Context, name string, azureRolesRequest AzureRolesRequest) (*http.Response, error) {
	localVarPath := "/v1/azure/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, azureRolesRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostAzureRotateRoot
func (a *Secrets) PostAzureRotateRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/azure/rotate-root"

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostConsulConfigAccess
func (a *Secrets) PostConsulConfigAccess(ctx context.Context, consulConfigAccessRequest ConsulConfigAccessRequest) (*http.Response, error) {
	localVarPath := "/v1/consul/config/access"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, consulConfigAccessRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostConsulRolesName
// name: Name of the role.
func (a *Secrets) PostConsulRolesName(ctx context.Context, name string, consulRolesRequest ConsulRolesRequest) (*http.Response, error) {
	localVarPath := "/v1/consul/roles/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, consulRolesRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostCubbyholePath Store a secret at the specified location.
// path: Specifies the path of the secret.
func (a *Secrets) PostCubbyholePath(ctx context.Context, path string) (*http.Response, error) {
	localVarPath := "/v1/cubbyhole/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterToString(path, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpConfig
func (a *Secrets) PostGcpConfig(ctx context.Context, gcpConfigRequest GcpConfigRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/config"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpConfigRotateRoot
func (a *Secrets) PostGcpConfigRotateRoot(ctx context.Context) (*http.Response, error) {
	localVarPath := "/v1/gcp/config/rotate-root"

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpKeyRoleset
// roleset: Required. Name of the role set.
func (a *Secrets) PostGcpKeyRoleset(ctx context.Context, roleset string, gcpKeyRequest GcpKeyRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/key/{roleset}"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpKeyRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpRolesetName
// name: Required. Name of the role.
func (a *Secrets) PostGcpRolesetName(ctx context.Context, name string, gcpRolesetRequest GcpRolesetRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpRolesetRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpRolesetNameRotate
// name: Name of the role.
func (a *Secrets) PostGcpRolesetNameRotate(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{name}/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpRolesetNameRotateKey
// name: Name of the role.
func (a *Secrets) PostGcpRolesetNameRotateKey(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{name}/rotate-key"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpRolesetRolesetKey
// roleset: Required. Name of the role set.
func (a *Secrets) PostGcpRolesetRolesetKey(ctx context.Context, roleset string, gcpRolesetKeyRequest GcpRolesetKeyRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{roleset}/key"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpRolesetKeyRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpRolesetRolesetToken
// roleset: Required. Name of the role set.
func (a *Secrets) PostGcpRolesetRolesetToken(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/roleset/{roleset}/token"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpStaticAccountName
// name: Required. Name to refer to this static account in Vault. Cannot be updated.
func (a *Secrets) PostGcpStaticAccountName(ctx context.Context, name string, gcpStaticAccountRequest GcpStaticAccountRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpStaticAccountRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpStaticAccountNameKey
// name: Required. Name of the static account.
func (a *Secrets) PostGcpStaticAccountNameKey(ctx context.Context, name string, gcpStaticAccountKeyRequest GcpStaticAccountKeyRequest) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}/key"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpStaticAccountKeyRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpStaticAccountNameRotateKey
// name: Name of the account.
func (a *Secrets) PostGcpStaticAccountNameRotateKey(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}/rotate-key"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpStaticAccountNameToken
// name: Required. Name of the static account.
func (a *Secrets) PostGcpStaticAccountNameToken(ctx context.Context, name string) (*http.Response, error) {
	localVarPath := "/v1/gcp/static-account/{name}/token"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterToString(name, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpTokenRoleset
// roleset: Required. Name of the role set.
func (a *Secrets) PostGcpTokenRoleset(ctx context.Context, roleset string) (*http.Response, error) {
	localVarPath := "/v1/gcp/token/{roleset}"
	localVarPath = strings.Replace(localVarPath, "{"+"roleset"+"}", url.PathEscape(parameterToString(roleset, "")), -1)

	req, err := a.client.NewRequest(http.MethodPost, localVarPath, nil)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpkmsConfig Configure the GCP KMS secrets engine
func (a *Secrets) PostGcpkmsConfig(ctx context.Context, gcpkmsConfigRequest GcpkmsConfigRequest) (*http.Response, error) {
	localVarPath := "/v1/gcpkms/config"

	req, err := a.client.NewStructuredRequest(http.MethodPost, localVarPath, gcpkmsConfigRequest)
	if err != nil {
		return nil, err
	}

	resp, err := a.client.Do(ctx, req, true)
	if err != nil || resp == nil {
		return resp, err
	}

	return resp, nil
}

// PostGcpkmsDecryptKey Decrypt a ciphertext value using a named key
[...]
