module github.com/hashicorp/vault-client-go

go 1.18

require (
	golang.org/x/oauth2 v0.0.0-20210323180902-22b0adad7558
	{{#withAWSV4Signature}}
	github.com/aws/aws-sdk-go v1.34.14
	{{/withAWSV4Signature}}
)
