name: ci

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '**' ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: FuzzTest
        run: go test -fuzz=./... -fuzztime=3s

  check-regen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Check regenerated files
        run: |
          make regen
          readonly changed_files="$(git diff --stat)"
          if [[ "$changed_files" != "" ]]; then
            echo "found diffs after running 'make regen'"
            echo "please run 'make regen' & commit the changed files:"
            echo "$changed_files"
            exit 1
          fi

  check-readme-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          persist-credentials: false

      - name: Check readme format
        uses: creyD/prettier_action@v4.3
        with:
          dry: True
          file_pattern: README.md
          prettier_options: --prose-wrap=always
